<fieldset>
    <legend>Your info:</legend>
    <label>First Name:
        <input type="text" name="firstName">
    </label>
    <br>
    <label>Last Name:
        <input type="text" name="lastName">
    </label>
    <br>
    <label>Phone Number:
        <input type="tel" name="phoneNo">
    </label>
</fieldset>